<div class="panel panel-default">
  <div class="panel-heading"><span class="capitalize">want to add more books?</span></div>
  <div class="panel-body">
    <form  class="form-group" (submit)="create()">
      <input type="text" name="title" [(ngModel)]="newBook.title" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="title" required placeholder="book's name">
      <input type="text" name="author" [(ngModel)]="newBook.author"ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="author" required placeholder="author name">
      <input type="date" name="date" [(ngModel)]="newBook.date" placeholder="insert a year"
      data-fv-date="true"
      data-fv-date-format="YYYY"
      data-fv-date-message="The value is not a valid date" >
      <input type="submit" value="add a book" class="capitalize">
    </form>
  </div>
</div>

