<div class="container-fluid">
<div class="row header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Hello Name, <br> What are you reading today?</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">My Profile</a></li>
            <li><a href="#">Explore New Books</a></li>
            <li><a href="#">Our Recommendations</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <input type="text" class="form-control" placeholder="Search A Book">
            </li>
            <li>
                <span class="glyphicon glyphicon-search"></span>
            </li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
</div>
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading"><span class="capitalize">welcom to my books' library</span></div>
  <div class="panel-body"><app-book></app-book></div>
</div>
</div>
</div>
