<ul class="list-group">
  <li *ngFor="let book of books" class="list-group-item">
    <div class="row">
<div class="col-md-2">
 <img class="img-responsive" src={{book.Cover}}/>
</div>
<div class="col-md-8">
<h4 class="capitalize"> {{book.Title }} </h4>
  <br>
      <span> {{ book.Author }} </span>
  <br>
  <span> {{ book.Date | date : "yyyy"}} </span>
  <br>
  <span (click)="delete(book)" class="glyphicon glyphicon-trash up"></span>
      <span (click)="book.editable = !book.editable" class="glyphicon glyphicon-edit up"></span>
      <app-edit-book [book]="book" (updateABookEvent)="update($event)" *ngIf="book.editable"></app-edit-book>
    </div>
    </div>
    </li>
</ul>
