.capitalize {
  text-transform: capitalize;
}
.img-responsive{
  width: 80px;
  height: 100px;
}
.title{
  padding:16px;
}
h4{
  margin:0px;
  padding:0px;
}
.header{
  min-height: 200px;
  background-image: url("images/a-book-a-week-image.jpg");
}
.navbar-inverse{
  height: 40px;
  border-radius: 0px;
}
.navbar-brand{
  margin-top:-10px;
  margin-right:50px;
}
.glyphicon-search{
  color: white;
  margin-top: 8px;
}
.searchArea{
  margin-top:8px;
}
.form-control{
  background: transparent;
  color: white;
}
.img-responsive, .dialog{
  float:left;
}
.dialogDiv{
  float: right;
  margin-left: 30px;
}
/* .dialogBtn{
  float: right;
} */
.glyphicon .glyphicon-trash:hover::after{
content:"Delete a Book";
}

