.capitalize {
  text-transform: capitalize;
}
.img-responsive{
  width: 80px;
  height: 100px;
}
.title{
  padding:16px;
}
h4{
  margin:0px;
  padding:0px;
}
.header{
  min-height: 200px;
  background-image: url("images/a-book-a-week-image.jpg");
}
